<?xml version="1.0" encoding="utf-8" ?>
<!--
* SPDX-License-Identifier: Apache-2.0
* Copyright 2021 FINOS FDC3 contributors - see NOTICE file
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      keepVariablesOnReload="true"
      internalLogToConsole="true"
      internalLogToConsoleError="true"
      internalLogLevel="off" internalLogFile="c:\temp\desktop-agent-backplane-nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="layout"
            value="${longdate} ${level:uppercase=true} [${threadid}] [${logger}] ${message} ${exception:format=tostring}" />

  <targets async="true">
	<target name="console" xsi:type="Console" />
    <target name="debugger" xsi:type="Debugger" layout="${layout}" />
    <target name="logfile" xsi:type="File"
            fileName="${tempdir}\FINOS\logs\${processname}.${shortdate}.log"
            archiveFileName="${tempdir}\FINOS\logs\${processname}.${shortdate}.{###}.log"
            archiveEvery="Day"
            archiveAboveSize="512000"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            concurrentWrites="false"
            keepFileOpen="false"
            layout="${layout}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
	<logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>